<%- include("../partials/userheader.ejs") %>

<div class="frm">

<form action="/otp" method="post">
    <h1>
        Otp Verification 
    </h1>
	<br>	

    <input type="text" name="otp" placeholder="Enter Otp">
	   

    <button type="submit">Verify</button>
</form>

</div>

<style>
	.frm{
		padding-left: 40rem;
		padding-top: 100px;
	}
</style>




